<%-include("header")%>

<div class="container-fluid content">


  <div class="row">

    <div class="col-sm-6" style="backgroud-color:blue">
      <h1>Cultural Societies</h1>
      <h3>IIIT ALLAHABAD</h3>
    </div>

    <div class="col-sm-6" style="backgroud-color:blue">
      <img class="col-sm-12" src="images/6583.jpg" alt="">
    </div>


  </div>

  <!-- reference card

<div class="card col-sm-3">
<img src="..." class="card-img-top" alt="...">
<div class="card-body">
  <h5 class="card-title">Card title</h5>
  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
</div>
<ul class="list-group list-group-flush">
  <li class="list-group-item">An item</li>
</ul>
<div class="card-body">
  <a href="#" class="card-link">Card link</a>
</div>
</div> -->

  <div class="container-fluid">

    <div class="card-deck">
      <div class="row">





        <div class="card col-md-5">
          <img src="images/sarasva.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title"><a href="sarasva" class="society-links">Sarasva</a></h5>
            <p class="card-text">The society has striven to promote debate, discussion and dialogue on campus through several events and initiatives including TEDx, Model United Nations, Lit-a-thon, One on One and Group Debates, Parliamentary Debates, Kavi Sammelans, Creative Writing, Quizzing etc.</p>
          </div>
        </div>


        <div class="card col-md-5">
          <img src="images/geneticx.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title"><a href="geneticx" class="society-links">GeneticX</a></h5>
            <p class="card-text">The GeneticX Crew is a cultural club of IIIT Allahabad of passionate dance lovers who have that “X-factor” in their “Genes” for dance which makes them aloof from the crowd.</p>
          </div>
        </div>

        <div class="card col-md-5">
          <img src="images/virtuosi.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title"><a href="virtuosi" class="society-links">Virtuosi</a></h5>
            <p class="card-text">Virtuosi, the music club of IIIT Allahabad are biggest preachers of passion, sound, melodies and finally salvations. Selflessness and altruism, an inherent quality and capability of all budding musicians unite here and bring out the zeal and prodigy from within them to a level which surely can be compared to the word ‘legendary’.</p>
          </div>
        </div>

        <div class="card col-md-5">
          <img src="images/rangtaringini.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title"><a href="rangtaringini" class="society-links">Rangtarini</a></h5>
            <p class="card-text">Rangtarangini, the Dramatics Society of IIIT Allahabad, committed to developing acting, script writing, direction skills etc, through a plethora of events and workshops. This society provides the platform for budding artists of IIIT Allahabad to showcase their enormous potential and talent . </p>
          </div>
        </div>

        <div class="card col-md-5">
          <img src="images/thunderbolt.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title"><a href="thunderbolt" class="society-links">Thunderbolt</a></h5>
            <p class="card-text">ThunderBolt AMS stands for Acoustics And Media Society. It is student crew that overlooks the lights, audio and media related engagements of all academic and cultural galleries organised at IIITA.</p>
          </div>
        </div>

        <div class="card col-md-5">
          <img src="images/nirmiti.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title"><a href="nirmiti" class="society-links">Nirmiti</a></h5>
            <p class="card-text">Nirmiti, the Fine Arts Society at IIIT-Allahabad educates students and the public in the visual and performing arts and serves as a cultural center for the campus and the surrounding region through creative activity, research, liberal education and public engagement.</p>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>


<%-include("footer")%>
