<%-include("header")%>


<div class="container-fluid content">


  <div class="row">

    <div class="col-sm-6" style="backgroud-color:blue">
      <h1>Nimriti</h1>
      <h3>The Fine Arts Society</h3>
    </div>



    <div class="col-sm-10" style="backgroud-color:blue">
      <h6 class="display-6">Nirmiti, the Fine Arts Society at IIIT-Allahabad educates students and the public in the visual and performing arts and serves as a cultural center for the campus and the surrounding region through creative activity, research, liberal education and public engagement.</h6>
    </div>



  </div>

  <!-- coordinators -->




  <div class="centre-heading">
    <h2 class="color display-5 center">Coordinators</h2>
  </div>

  <div class="container-fluid">

    <div class="card-deck">
      <div class="row">

        <div class="card col-md-3">
          <img src="images/avatar.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title name">Aman</h5>
          </div>
        </div>

        <div class="card col-md-3">
          <img src="images/avatar.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title name">Keshab</h5>
          </div>
        </div>

        <div class="card col-md-3">
          <img src="images/avatar.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title name">Nehal</h5>
          </div>
        </div>

      </div>
    </div>
  </div>

  <!-- senior members -->


  <div class="centre-heading">
    <h2 class="color display-5 center">Senior Members</h2>
  </div>

  <div class="container-fluid">

    <div class="card-deck">
      <div class="row">

        <div class="card col-md-3">
          <img src="images/avatar.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title name">Uddeept</h5>
          </div>
        </div>

        <div class="card col-md-3">
          <img src="images/avatar.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title name">Tarun</h5>
          </div>
        </div>

        <div class="card col-md-3">
          <img src="images/avatar.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title name">Ujjwal</h5>
          </div>
        </div>

        <div class="card col-md-3">
          <img src="images/avatar.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title name">Ankush</h5>
          </div>
        </div>

      </div>
    </div>
  </div>

  <!-- members -->

  <div class="centre-heading">
    <h2 class="color display-5 center">Members</h2>
  </div>

  <div class="container-fluid">

    <div class="card-deck">
      <div class="row">

        <div class="card col-md-2">
          <img src="images/avatar.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title name-members">Sampada</h5>
          </div>
        </div>

        <div class="card col-md-2">
          <img src="images/avatar.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title name-members">Raj Shekhawat</h5>
          </div>
        </div>

        <div class="card col-md-2">
          <img src="images/avatar.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title name-members">Biswa</h5>
          </div>
        </div>

        <div class="card col-md-2">
          <img src="images/avatar.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title name-members">Rishika</h5>
          </div>
        </div>

        <div class="card col-md-2">
          <img src="images/avatar.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title name-members">Mitisha</h5>
          </div>
        </div>

        <div class="card col-md-2">
          <img src="images/avatar.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title name-members">Jyotika</h5>
          </div>
        </div>

        <div class="card col-md-2">
          <img src="images/avatar.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title name-members">Utkarsh</h5>
          </div>
        </div>


        <div class="card col-md-2">
          <img src="images/avatar.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title name-members">Chetan</h5>
          </div>
        </div>


        <div class="card col-md-2">
          <img src="images/avatar.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title name-members">Prathmesh</h5>
          </div>
        </div>


        <div class="card col-md-2">
          <img src="images/avatar.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title name-members">Yash</h5>
          </div>
        </div>


        <div class="card col-md-2">
          <img src="images/avatar.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title name-members">Tanish</h5>
          </div>
        </div>


        <div class="card col-md-2">
          <img src="images/avatar.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title name-members">Smitesh</h5>
          </div>
        </div>

        <div class="card col-md-2">
          <img src="images/avatar.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title name-members">Sarthak</h5>
          </div>
        </div>

        <div class="card col-md-2">
          <img src="images/avatar.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title name-members">Shubhi</h5>
          </div>
        </div>

        <div class="card col-md-2">
          <img src="images/avatar.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title name-members">Jyotsana</h5>
          </div>
        </div>

      </div>
    </div>
  </div>

  <!-- upcoming projects -->

  <div class="center-heading">
    <h2 class="color display-5 center">Upcoming Events</h2>
  </div>

  <div class="container-fluid">

    <div class="card-deck">
      <div class="row">

        <div class="card col-md-5">
          <div class="card-body">
            <h5 class="card-title">Graffiti</h5>
          </div>
        </div>


        <div class="card col-md-5">
          <div class="card-body">
            <h5 class="card-title">Toon-con</h5>
          </div>
        </div>

        <div class="card col-md-5">
          <div class="card-body">
            <h5 class="card-title">Sketchers(online)</h5>
          </div>
        </div>


        <div class="card col-md-5">
          <div class="card-body">
            <h5 class="card-title">Schizzare(online)</h5>
          </div>
        </div>


      </div>
    </div>
  </div>



</div>





<%-include("footer")%>
