<%-include("header")%>


<div class="container-fluid content">


  <div class="row">

    <div class="col-sm-6" style="backgroud-color:blue">
      <h1>Rangtaringini</h1>
      <h3>The Drama Soceity</h3>
    </div>



    <div class="col-sm-10" style="backgroud-color:blue">
      <h6 class="display-6">Rangtarangini, the Dramatics Society of IIIT Allahabad, committed to developing acting, script writing, direction skills etc, through a plethora of events and workshops. This society provides the platform for budding artists of IIIT Allahabad to showcase their enormous potential and talent . </h6>
    </div>



  </div>

  <!-- coordinators -->




  <div class="centre-heading">
    <h2 class="color display-5 center">Coordinators</h2>
  </div>

  <div class="container-fluid">

    <div class="card-deck">
      <div class="row">

        <div class="card col-md-3">
          <img src="images/avatar.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title name">Ishan</h5>
          </div>
        </div>

        <div class="card col-md-3">
          <img src="images/avatar.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title name">Palak</h5>
          </div>
        </div>

        <div class="card col-md-3">
          <img src="images/avatar.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title name">Naukesh</h5>
          </div>
        </div>

      </div>
    </div>
  </div>

  <!-- senior members -->


  <div class="centre-heading">
    <h2 class="color display-5 center">Senior Members</h2>
  </div>

  <div class="container-fluid">

    <div class="card-deck">
      <div class="row">

        <div class="card col-md-3">
          <img src="images/avatar.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title name">Riya</h5>
          </div>
        </div>

        <div class="card col-md-3">
          <img src="images/avatar.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title name">Nandini</h5>
          </div>
        </div>

        <div class="card col-md-3">
          <img src="images/avatar.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title name">Vidhi</h5>
          </div>
        </div>

      </div>
    </div>
  </div>

  <!-- members -->

  <div class="centre-heading">
    <h2 class="color display-5 center">Members</h2>
  </div>

  <div class="container-fluid">

    <div class="card-deck">
      <div class="row">

        <div class="card col-md-2">
          <img src="images/avatar.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title name-members">Hardik</h5>
          </div>
        </div>

        <div class="card col-md-2">
          <img src="images/avatar.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title name-members">Dev</h5>
          </div>
        </div>

        <div class="card col-md-2">
          <img src="images/avatar.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title name-members">Anjali</h5>
          </div>
        </div>

        <div class="card col-md-2">
          <img src="images/avatar.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title name-members">Abhinav</h5>
          </div>
        </div>

        <div class="card col-md-2">
          <img src="images/avatar.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title name-members">Pratishtha</h5>
          </div>
        </div>

        <div class="card col-md-2">
          <img src="images/avatar.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title name-members">Vaibhav</h5>
          </div>
        </div>

        <div class="card col-md-2">
          <img src="images/avatar.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title name-members">Hritika</h5>
          </div>
        </div>


        <div class="card col-md-2">
          <img src="images/avatar.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title name-members">Ankur</h5>
          </div>
        </div>


        <div class="card col-md-2">
          <img src="images/avatar.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title name-members">Rahul</h5>
          </div>
        </div>


        <div class="card col-md-2">
          <img src="images/avatar.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title name-members">Aditya</h5>
          </div>
        </div>


        <div class="card col-md-2">
          <img src="images/avatar.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title name-members">Aaryan Bhardwaj</h5>
          </div>
        </div>


        <div class="card col-md-2">
          <img src="images/avatar.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title name-members">Vaibhav</h5>
          </div>
        </div>

        <div class="card col-md-2">
          <img src="images/avatar.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title name-members">Vishwas</h5>
          </div>
        </div>

        <div class="card col-md-2">
          <img src="images/avatar.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title name-members">Anjali</h5>
          </div>
        </div>

        <div class="card col-md-2">
          <img src="images/avatar.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title name-members">Pratyush</h5>
          </div>
        </div>

        <div class="card col-md-2">
          <img src="images/avatar.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title name-members">Shruti</h5>
          </div>
        </div>

        <div class="card col-md-2">
          <img src="images/avatar.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title name-members">Udgam</h5>
          </div>
        </div>

      </div>
    </div>
  </div>

  <!-- upcoming projects -->

  <div class="center-heading">
    <h2 class="color display-5 center">Upcoming Events</h2>
  </div>

  <div class="container-fluid">

    <div class="card-deck">
      <div class="row">

        <div class="card col-md-5">
          <div class="card-body">
            <h5 class="card-title">Drama Night</h5>
          </div>
        </div>


        <div class="card col-md-5">
          <div class="card-body">
            <h5 class="card-title">Ad Mad</h5>
          </div>
        </div>


      </div>
    </div>
  </div>



</div>





<%-include("footer")%>
