<%-include("header")%>


<div class="container-fluid content">


  <div class="row">

    <div class="col-sm-6" style="backgroud-color:blue">
      <h1>Sarasva</h1>
      <h3>The Literary Society</h3>
    </div>



    <div class="col-sm-10" style="backgroud-color:blue">
      <h6 class="display-6">Sarasva is the home to all the things literary: from admirably articulate articles to penetratingly pensive poetry, to stories that leave you delighted, appalled or touched, we have a bit of everything, since there’s a
        little literature in everything.</h6>
    </div>



  </div>

  <!-- coordinators -->




  <div class="centre-heading">
    <h2 class="color display-5 center">Coordinators</h2>
  </div>

  <div class="container-fluid">

    <div class="card-deck">
      <div class="row">

        <div class="card col-md-3">
          <img src="images/avatar.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title name">Ananya Monhanty</h5>
          </div>
        </div>

        <div class="card col-md-3">
          <img src="images/avatar.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title name">Abhigyan Sharma</h5>
          </div>
        </div>

        <div class="card col-md-3">
          <img src="images/avatar.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title name">Giriraj Chandak</h5>
          </div>
        </div>

      </div>
    </div>
  </div>

  <!-- senior members -->


  <div class="centre-heading">
    <h2 class="color display-5 center">Senior Members</h2>
  </div>

  <div class="container-fluid">

    <div class="card-deck">
      <div class="row">

        <div class="card col-md-3">
          <img src="images/avatar.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title name">Chinmay Nagar</h5>
          </div>
        </div>

        <div class="card col-md-3">
          <img src="images/avatar.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title name">Rohini Mishra</h5>
          </div>
        </div>

        <div class="card col-md-3">
          <img src="images/avatar.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title name">Archisha Baranwal</h5>
          </div>
        </div>

        <div class="card col-md-3">
          <img src="images/avatar.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title name">Achint Agarwal</h5>
          </div>
        </div>

      </div>
    </div>
  </div>

  <!-- members -->

  <div class="centre-heading">
    <h2 class="color display-5 center">Members</h2>
  </div>

  <div class="container-fluid">

    <div class="card-deck">
      <div class="row">

        <div class="card col-md-2">
          <img src="images/avatar.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title name-members">Shourya</h5>
          </div>
        </div>

        <div class="card col-md-2">
          <img src="images/avatar.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title name-members">Muskaan Deep Kaur</h5>
          </div>
        </div>

        <div class="card col-md-2">
          <img src="images/avatar.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title name-members">Anirudh Arora</h5>
          </div>
        </div>

        <div class="card col-md-2">
          <img src="images/avatar.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title name-members">Harshdeep Singh</h5>
          </div>
        </div>

        <div class="card col-md-2">
          <img src="images/avatar.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title name-members">Sanskar Patro</h5>
          </div>
        </div>

        <div class="card col-md-2">
          <img src="images/avatar.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title name-members">Prabnoor Singh</h5>
          </div>
        </div>

        <div class="card col-md-2">
          <img src="images/avatar.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title name-members">Medha Balani</h5>
          </div>
        </div>


        <div class="card col-md-2">
          <img src="images/avatar.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title name-members">Pavika Chaudhary</h5>
          </div>
        </div>


        <div class="card col-md-2">
          <img src="images/avatar.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title name-members">Pranshu Tripathy</h5>
          </div>
        </div>


        <div class="card col-md-2">
          <img src="images/avatar.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title name-members">Prakhar Mishra</h5>
          </div>
        </div>


        <div class="card col-md-2">
          <img src="images/avatar.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title name-members">Jahanvi Dua</h5>
          </div>
        </div>


        <div class="card col-md-2">
          <img src="images/avatar.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title name-members">Shivam Agarahari</h5>
          </div>
        </div>

      </div>
    </div>
  </div>

  <!-- upcoming projects -->

  <div class="center-heading">
    <h2 class="color display-5 center">Upcoming Events</h2>
  </div>

  <div class="container-fluid">

    <div class="card-deck">
      <div class="row">

        <div class="card col-md-5">
          <div class="card-body">
            <h5 class="card-title">MUN</h5>
          </div>
        </div>


        <div class="card col-md-5">
          <div class="card-body">
            <h5 class="card-title">FRESH VERSES</h5>
          </div>
        </div>

        <div class="card col-md-5">
          <div class="card-body">
            <h5 class="card-title">Group Discussions & Debates</h5>
          </div>
        </div>


        <div class="card col-md-5">
          <div class="card-body">
            <h5 class="card-title">LURS</h5>
          </div>
        </div>



      </div>
    </div>
  </div>



</div>





<%-include("footer")%>
