<%-include("header")%>


<div class="container-fluid content">


  <div class="row">

    <div class="col-sm-6" style="backgroud-color:blue">
      <h1>THUNDEROLT AMS</h1>
      <h3>The Acoustics and Media Society</h3>
    </div>



    <div class="col-sm-10" style="backgroud-color:blue">
      <h6 class="display-6">ThunderBolt AMS stands for Acoustics And Media Society. It is student crew that overlooks the lights, audio and media related engagements of all academic and cultural galleries organised at IIITA.</h6>
    </div>



  </div>

  <!-- coordinators -->




  <div class="centre-heading">
    <h2 class="color display-5 center">Coordinators</h2>
  </div>

  <div class="container-fluid">

    <div class="card-deck">
      <div class="row">

        <div class="card col-md-3">
          <img src="images/avatar.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title name">Nikhilesh Kumar</h5>
          </div>
        </div>

        <div class="card col-md-3">
          <img src="images/avatar.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title name">Mahesh Nayak</h5>
          </div>
        </div>

        <div class="card col-md-3">
          <img src="images/avatar.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title name">Aditya Kamble</h5>
          </div>
        </div>

      </div>
    </div>
  </div>

  <!-- senior members -->


  <div class="centre-heading">
    <h2 class="color display-5 center">Senior Members</h2>
  </div>

  <div class="container-fluid">

    <div class="card-deck">
      <div class="row">

        <div class="card col-md-3">
          <img src="images/avatar.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title name">Chinmay Nagar</h5>
          </div>
        </div>

        <div class="card col-md-3">
          <img src="images/avatar.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title name">Chaitali Agrawal</h5>
          </div>
        </div>

        <div class="card col-md-3">
          <img src="images/avatar.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title name">Nitin Madhukar</h5>
          </div>
        </div>

        <div class="card col-md-3">
          <img src="images/avatar.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title name">Madhu Nayak</h5>
          </div>
        </div>

        <div class="card col-md-3">
          <img src="images/avatar.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title name">Onkar Telange</h5>
          </div>
        </div>

      </div>
    </div>
  </div>

  <!-- members -->

  <div class="centre-heading">
    <h2 class="color display-5 center">Members</h2>
  </div>

  <div class="container-fluid">

    <div class="card-deck">
      <div class="row">

        <div class="card col-md-2">
          <img src="images/avatar.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title name-members">Aditi</h5>
          </div>
        </div>

        <div class="card col-md-2">
          <img src="images/avatar.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title name-members">Aditya</h5>
          </div>
        </div>

        <div class="card col-md-2">
          <img src="images/avatar.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title name-members">Vrishabh</h5>
          </div>
        </div>

        <div class="card col-md-2">
          <img src="images/avatar.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title name-members">Prathmesh</h5>
          </div>
        </div>

        <div class="card col-md-2">
          <img src="images/avatar.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title name-members">Saloni Thakral</h5>
          </div>
        </div>

        <div class="card col-md-2">
          <img src="images/avatar.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title name-members">Prakhar</h5>
          </div>
        </div>

        <div class="card col-md-2">
          <img src="images/avatar.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title name-members">Divyendra Ghehlot</h5>
          </div>
        </div>


        <div class="card col-md-2">
          <img src="images/avatar.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title name-members">Debashish</h5>
          </div>
        </div>


        <div class="card col-md-2">
          <img src="images/avatar.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title name-members">Krishna</h5>
          </div>
        </div>


        <div class="card col-md-2">
          <img src="images/avatar.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title name-members">Kaushtubh</h5>
          </div>
        </div>


        <div class="card col-md-2">
          <img src="images/avatar.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title name-members">Tushar</h5>
          </div>
        </div>


        <div class="card col-md-2">
          <img src="images/avatar.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title name-members">Mukul</h5>
          </div>
        </div>

        <div class="card col-md-2">
          <img src="images/avatar.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title name-members">Yash</h5>
          </div>
        </div>

        <div class="card col-md-2">
          <img src="images/avatar.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title name-members">Shikhar</h5>
          </div>
        </div>

        <div class="card col-md-2">
          <img src="images/avatar.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title name-members">Ranveer</h5>
          </div>
        </div>

        <div class="card col-md-2">
          <img src="images/avatar.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title name-members">Mayar</h5>
          </div>
        </div>

        <div class="card col-md-2">
          <img src="images/avatar.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title name-members">Ayush Khandelwal</h5>
          </div>
        </div>

      </div>
    </div>
  </div>

  <!-- upcoming projects -->

  <div class="center-heading">
    <h2 class="color display-5 center">Upcoming Events</h2>
  </div>

  <div class="container-fluid">

    <div class="card-deck">
      <div class="row">

        <div class="card col-md-5">
          <div class="card-body">
            <h5 class="card-title">SAFAR</h5>
          </div>
        </div>


        <div class="card col-md-5">
          <div class="card-body">
            <h5 class="card-title">TASVEER</h5>
          </div>
        </div>

        <div class="card col-md-5">
          <div class="card-body">
            <h5 class="card-title">PORTRAIT MYSTERIA</h5>
          </div>
        </div>


        <div class="card col-md-5">
          <div class="card-body">
            <h5 class="card-title">EXPLRATION</h5>
          </div>
        </div>


      </div>
    </div>
  </div>



</div>





<%-include("footer")%>
