<%-include("header")%>


<div class="container-fluid content">


  <div class="row">

    <div class="col-sm-6" style="backgroud-color:blue">
      <h1>Virtuosi</h1>
      <h3>The Music Society</h3>
    </div>



    <div class="col-sm-10" style="backgroud-color:blue">
      <h6 class="display-6">Virtuosi, the music club of IIIT Allahabad are biggest preachers of passion, sound, melodies and finally salvations. Selflessness and altruism, an inherent quality and capability of all budding musicians unite here and bring out the zeal and prodigy from within them to a level which surely can be compared to the word ‘legendary’.</h6>
    </div>



  </div>

  <!-- coordinators -->




  <div class="centre-heading">
    <h2 class="color display-5 center">Coordinators</h2>
  </div>

  <div class="container-fluid">

    <div class="card-deck">
      <div class="row">

        <div class="card col-md-3">
          <img src="images/avatar.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title name">Parag Goyal</h5>
          </div>
        </div>

        <div class="card col-md-3">
          <img src="images/avatar.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title name">Vidhur Kartaria</h5>
          </div>
        </div>

        <div class="card col-md-3">
          <img src="images/avatar.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title name">Kartik</h5>
          </div>
        </div>

      </div>
    </div>
  </div>

  <!-- senior members -->


  <div class="centre-heading">
    <h2 class="color display-5 center">Senior Members</h2>
  </div>

  <div class="container-fluid">

    <div class="card-deck">
      <div class="row">

        <div class="card col-md-3">
          <img src="images/avatar.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title name">Rishabh</h5>
          </div>
        </div>

        <div class="card col-md-3">
          <img src="images/avatar.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title name">Nathan</h5>
          </div>
        </div>

        <div class="card col-md-3">
          <img src="images/avatar.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title name">Shipra</h5>
          </div>
        </div>

        <div class="card col-md-3">
          <img src="images/avatar.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title name">Ankush Pandey</h5>
          </div>
        </div>

        <div class="card col-md-3">
          <img src="images/avatar.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title name">Abhaya Sharma</h5>
          </div>
        </div>

        <div class="card col-md-3">
          <img src="images/avatar.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title name">Pranal Maheshwari</h5>
          </div>
        </div>

      </div>
    </div>
  </div>

  <!-- members -->

  <div class="centre-heading">
    <h2 class="color display-5 center">Members</h2>
  </div>

  <div class="container-fluid">

    <div class="card-deck">
      <div class="row">

        <div class="card col-md-2">
          <img src="images/avatar.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title name-members">Tanish</h5>
          </div>
        </div>

        <div class="card col-md-2">
          <img src="images/avatar.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title name-members">Vaishnavr</h5>
          </div>
        </div>

        <div class="card col-md-2">
          <img src="images/avatar.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title name-members">Vishwas</h5>
          </div>
        </div>

        <div class="card col-md-2">
          <img src="images/avatar.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title name-members">Muskaan Deep Kaur</h5>
          </div>
        </div>

        <div class="card col-md-2">
          <img src="images/avatar.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title name-members">Puneet</h5>
          </div>
        </div>

        <div class="card col-md-2">
          <img src="images/avatar.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title name-members">Daniel Dey</h5>
          </div>
        </div>

        <div class="card col-md-2">
          <img src="images/avatar.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title name-members">Shahalreet Kaur</h5>
          </div>
        </div>


        <div class="card col-md-2">
          <img src="images/avatar.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title name-members">Anurag</h5>
          </div>
        </div>


        <div class="card col-md-2">
          <img src="images/avatar.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title name-members">Soumyadeep</h5>
          </div>
        </div>

      </div>
    </div>
  </div>

  <!-- upcoming projects -->

  <div class="center-heading">
    <h2 class="color display-5 center">Upcoming Events</h2>
  </div>

  <div class="container-fluid">

    <div class="card-deck">
      <div class="row">

        <div class="card col-md-5">
          <div class="card-body">
            <h5 class="card-title">CONFUZON</h5>
          </div>
        </div>


        <div class="card col-md-5">
          <div class="card-body">
            <h5 class="card-title">PSYCHEDELIA</h5>
          </div>
        </div>

        <div class="card col-md-5">
          <div class="card-body">
            <h5 class="card-title">Open JAM</h5>
          </div>
        </div>


        <div class="card col-md-5">
          <div class="card-body">
            <h5 class="card-title">MELODIUX</h5>
          </div>
        </div>


      </div>
    </div>
  </div>



</div>





<%-include("footer")%>
